<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>PNC</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>indy</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/redhat-builds/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>indy</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/redhat-builds/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
	      </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>PNC-static</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>indy-static</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/static/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>indy-static</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/static/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
	      </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>PNC-temporary</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>indy-temporary</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/temporary-builds/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>indy-temporary</id>
          <url>http://indy.psi.redhat.com/api/content/maven/group/temporary-builds/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
	      </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <!-- make profile active all the time -->
    <activeProfile>PNC</activeProfile>
    <activeProfile>PNC-static</activeProfile>
    <activeProfile>PNC-temporary</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>pnc-indy</id>
      <configuration>
        <httpConfiguration>
          <all>
            <useDefaultHeaders>false</useDefaultHeaders>
            <headers>
              <header>
                <name>Cache-control</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Cache-store</name>
                <value>no-store</value>
              </header>
              <header>
                <name>Pragma</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Expires</name>
                <value>0</value>
              </header>
            </headers>
          </all>
        </httpConfiguration>
      </configuration>
    </server>
  </servers>
</settings>